<footer class="w3l-footer-66">
    <!-- footer -->

    <div class="cpy-right py-3">
        <p class="text-center">© 2020 Hospital. All rights reserved |
            
        </p>
    </div>
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
			<span class="fa fa-level-up"></span>
        </button>
    <!--When the user scrolls down 20px from the top of the document, show the button-->
    <script>
        window.onscroll = function() {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }


        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>

</footer>