
<div class="container">
    <div class="row">
        <div class="col md-6">
            <h2 class="text-center" style="text-align: center; font-size: large;"><b>Book Appointment Here</b></h2>
    <hr>
    <form>
        <div class="form-group">
            <label for="patient">Patient</label>
            <input type="text" required class="form-control" id="name">
  
        </div>
        <div class="form-group">
  
            <label for="doctor">Doctor</label>
            <input type="text" required class="form-control" id="name">
  
        </div>
        <div class="form-group">
            <label for="complete">Date</label>
            <input type='date' id="complete" required>
  
        </div>

        <div class="form-group">
  
            <label for="name">Time_alloted</label>
            <input type="text" required class="form-control" id="time">
  
        </div>
        <div class="form-group">
  
            <label for="completed">Is_completed</label>
            <!-- <input type="text" required class="form-control" id="completed"> -->
            <select cam-variable-name="APPROVED"
                    cam-variable-type="Boolean">
            <option value="true">True</option>
            <option value="false">False</option>
            </select>
  
        </div>
        <div class="form-group">
            <label for="confirmed">Is_confirmed</label>
            <!-- <input type='date' id="confirmed" required> -->
            <select cam-variable-name="APPROVED"
                    cam-variable-type="Boolean">
            <option value="true">True</option>
            <option value="false">False</option>
            </select>
  
        </div>

        <div class="form-group">
  
            <label for="rejected">Is_rejected</label>
            <!-- <input type="text" required class="form-control" id="rejected"> -->
            <select cam-variable-name="APPROVED"
                    cam-variable-type="Boolean">
            <option value="true">True</option>
            <option value="false">False</option>
            </select>
            
  
        </div>
        <div class="form-group">
            <label for="complete">created_at</label>

          
            <!-- <input type='date' id="complete" required> -->
           
        </div>

        <div class="form-group">
  
            <label for="description">Updated at</label>
            <input type='date' id="complete" required>
            
  
        </div>

        <button class="btn btn-success">Submit</button>

    </form>
        </div>
        <div class="col md-6" style="text-align: center; font-size: large;">
            <h2 class="text-center"><b>Doctors Available</b></h2>
        <hr>
            
        <h2 class="text-center"><b>Services</b></h2>
        
        </div>
    </div>
    
  </div>
