<div class="w3l-open-block-services py-5" id="services">
    <div class="container py-lg-5 pt-4">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="card text-center">
                    <div class="icon-holder">
                        <span class="fa fa-signal service-icon" aria-hidden="true"></span>
                    </div>
                    <h4 class="mission">Out Patient</h4>
                    <div class="open-description">
                        <p>A set of skilled doctors along with technicians are available, who can assist patients in preliminary diagnosis and related treatments.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-md-0 mt-5 pt-md-0 pt-3">
                <div class="card text-center">
                    <div class="icon-holder">
                        <span class="fa fa-assistive-listening-systems service-icon" aria-hidden="true"></span>
                    </div>
                    <h4 class="mission">Pharmacy and Laboratory</h4>
                    <div class="open-description">
                        <p>Easy and quick availability of medicines and other equipment required for treatment procedure are available at the pharmacy.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-lg-0 mt-5 pt-lg-0 pt-3">
                <div class="card text-center">
                    <div class="icon-holder">
                        <span class="fa fa-diamond service-icon" aria-hidden="true"></span>
                    </div>
                    <h4 class="mission">Dental Services</h4>
                    <div class="open-description">
                        <p>The dental clinic is equipped with the latest dental equipment to transform the patient’s smile and experience by combining restoration expertise</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-lg-0 mt-5 pt-lg-0 pt-3">
                <div class="card text-center">
                    <div class="icon-holder">
                        <span class="fa fa-magic service-icon" aria-hidden="true"></span>
                    </div>
                    <h4 class="mission">Ward Admission</h4>
                    <div class="open-description">
                        <p>General wards allotment for patients suffering from severe illness and injuries to monitor health conditions continuously thereby, giving accurate treatment.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>