
<header class="w3l-header-nav">
    <!--/nav-->
    <nav class="navbar navbar-expand-lg navbar-light px-lg-0 py-0 px-3 stroke" style="background-color: white !important;">
        <div class="container">
            <a class="navbar-brand" href="#"><span>Hosp</span>ital</a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa icon-expand fa-bars"></span>
        <span class="fa icon-close fa-times"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-lg-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#testimonials">Testimonials</a>
                    </li>
                 
                  
                      
           <ul class="navbar-nav mr-auto" routerLinkActive="active">
     
     
      <li class="nav-item">
        <a class="nav-link" *ngIf="isLoggedIn" routerLink="bookappointments">User</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
    

      <li class="nav-item">
        <a href="/login/user" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

     
    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">Profile</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>

</ul>
                <div class="call-support">
                    <p>Call us for any question</p>
                    <h5 style="color: black !important;">+254 700 123 456</h5>
                </div>
            </div>
        </div>
    </nav>
    <!--//nav--> 
    <router-outlet></router-outlet>
</header>
