<div class='jumbotron'>
<div class='row'>
 <div class=col-md-6>
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-title">Patients Panel</h2>
      <p class="card-text">Login as a patient.</p>
      <a routerLink="patient"  class="btn btn-primary">Login</a>
    </div>
  </div>
  
</div>
<div class=col-md-6>
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">Doctors Panel</h2>
          <p class="card-text">Login as a Doctor.</p>
          <a routerLink="doctor"  class="btn btn-primary">Login</a>
        </div>
      </div>
      
    </div>
</div>
</div>