<section class="w3l-testimonials">
    <div class="testimonials py-lg-5 py-4" id="testimonials">
        <div class="container py-lg-5">
            <div class="row pb-lg-4 pb-5">
                <div class="col-md-10 mx-auto">
                    <div class="owl-two owl-carousel owl-theme">
                        <div class="item">
                            <div class="slider-info mt-lg-4 mt-3">
                                <div class="text-content">
                                    <div class="test-left">
                                        <div class="img-circle">
                                            <img src="../../assets/images/cate.png" class="img-fluid testimonial-img" alt="client">
                                        </div>
                                        <div class="name">
                                            <h4>Catherine</h4>
                                            <p class="description">Patient</p>
                                        </div>
                                    </div>
                                    <div class="message">
                                        <div class="quote-icon"><span class="fa fa-quote-left" aria-hidden="true"></span></div>
                                        <p> The staff at the Hospital are totally devoted to the patients, determined to give them the best opportunity to improve their lives.”</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider-info mt-lg-4 mt-3">
                                <div class="text-content">
                                    <div class="test-left">
                                        <div class="img-circle">
                                            <img src="../../assets/images/matta.jpeg" class="img-fluid testimonial-img" alt="client">
                                        </div>
                                        <div class="name">
                                            <h4>Samuel</h4>
                                            <p class="description">Patient</p>
                                        </div>
                                    </div>
                                    <div class="message">
                                        <div class="quote-icon"><span class="fa fa-quote-left" aria-hidden="true"></span></div>
                                        <p> Words cannot describe our gratitude to your phenomenal staff for exceeding any expectations we had.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider-info mt-lg-4 mt-3">
                                <div class="text-content">
                                    <div class="test-left">
                                        <div class="img-circle">
                                            <img src="../../assets/images/tony.jpeg" class="img-fluid testimonial-img" alt="client">
                                        </div>
                                        <div class="name">
                                            <h4>Tony</h4>
                                            <p class="description">Patient</p>
                                        </div>
                                    </div>
                                    <div class="message">
                                        <div class="quote-icon"><span class="fa fa-quote-left" aria-hidden="true"></span></div>
                                        <p> From the minute I arrived, I was treated with the utmost empathy, kindness and respect… I have nothing but praise for the care I received as a patient at the Hospital. </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</section>