/* You can add global styles to this file, and also import other style files */
/* body{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('/images/hospital-building-outdoor-hospital-building-sign-closeup-sky-reflecting-glass-d-rendering-121781999.jpg');
    width: 80%;
    height: 400px;
    background-size: cover;
    color: white;
    padding: 20px;

} */
.register{
    color: rgb(243, 235, 235);
    background-color: rgb(102, 97, 105);
}
