<section class="w3l-main-slider" id="home">
    <div class="banner-content">
        <div class="owl-one owl-carousel owl-theme">
            <div class="item">
                <li>
                    <div class="slider-info banner-view bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h6>Hospital care for life</h6>
                                    <h5>Experience, trust and proven success
                                    </h5>
                                    <!-- <a class="btn mt-sm-5 mt-4" href="services.html">View Our Services</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info  banner-view banner-top1 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h6>Care for your health</h6>
                                    <h5>Get all the essential health care today</h5>
                                    <!-- <a class="btn mt-sm-5 mt-4" href="services.html">View Our Services</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top2 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h6>Health care for life</h6>
                                    <h5>Experience, trust and proven success
                                    </h5>
                                    <!-- <a class="btn mt-sm-5 mt-4" href="services.html">View Our Services</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top3 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h6>Care for your health </h6>
                                    <h5>Get all the essential health care today</h5>
                                    <!-- <a class="btn mt-sm-5 mt-4" href="services.html">View Our Services</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
        </div>

    </div>
    <app-about></app-about>
   
    <app-testimonials></app-testimonials>

    
</section>